*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
@font-face {
	font-family: 'KorolevBold';
  src: url(fonts/KorolevBold.woff) format("woff");
}
@font-face {
	font-family: 'KorolevHeavy';
  src: url(fonts/KorolevHeavy.woff) format("woff");
}
@font-face {
	font-family: 'KorolevMedium';
  src: url(fonts/KorolevMedium.woff) format("woff");
}
@font-face {
	font-family: 'KorolevLight';
  src: url(fonts/KorolevLight.woff) format("woff");
}
body{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
@media (max-width: 768px){
	body{
		align-items: flex-start;
	}
}
.containerFirst{
	width: 80vw;
	height: 100vh;
	background-image: url(assets/Fundo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
@media (max-width: 768px){
	.containerFirst{
		width: 100vw;
		flex-direction: column;
		justify-content: space-between;
	}
}
.containerFirst--title{
	width: 60%;
	font-size: 70px;
	font-family: KorolevMedium;
	color: #fff;
	padding-left: 50px;
}
@media (max-width: 375px){
	.containerFirst--title{
		font-size: 30px;
		width: 100%;
	}
}
@media (max-width: 768px){
	.containerFirst--title{
		padding-top: 70px;
		font-size: 35px;
		align-self: center;
	}
}
.containerFirst__block--image{
	width: 300px;
	height: 500px;
	position: absolute;
	top: 14vh;
	right: 65vw;
}
@media (max-width: 768px){
	.containerFirst__block--image{
		width: 250px;
		height: 400px;
		top: 31vh;
		left: -5vw;
	}
}
.containerFirst__block--imageNuvem{
	min-width: 1440px;
	height: 30vh;
	position: absolute;
	right: 0vw;
	top: 70vh;
}
main{
	width: 80vw;
}
@media (max-width: 768px){
	main{
		width: 100vw;
	}
}
.containerHistory{
	width: 80vw;
	min-height: 70vh;
	display: flex;
	justify-content: space-between;
	background-color: #EB268F;
}
@media (max-width: 768px){
	.containerHistory{
		width: 100vw;
		flex-direction: column;
	}
}
.containerHistory__block{
	padding: 40px 0px 0px 40px;
}
@media (max-width: 425px){
	.containerHistory__block{
		width: 100%;
	}
}
.containerHistory__block--paragraph{
	width: 50%;
	line-height: 24px;
	font-family: 'KorolevMedium';
	color: #fff;
}
@media (max-width: 425px){
	.containerHistory__block--paragraph{
		width: 90%;
	}
}
.containerHistory__blockImage{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}
@media (max-width: 768px){
	.containerHistory__blockImage{
		align-self: flex-start;
		margin: 20px 10px;
	}
}
.seta{
	font-size: 20px;
	color: yellow;
}
.containerHistory__blockImage--image{
	width: 400px;
	margin-right: 20px;
}
@media (max-width: 375px){
	.containerHistory__blockImage--image{
		width: 300px;
	}
}
.containerParceiros{
	display: flex;
	flex-direction: column;
	width: 80vw;
	padding-bottom: 30px;
}
.containerParceiros--title{
	font-family: KorolevBold;
	color: #A6538D;
	padding: 20px 0px 20px 80px;
	font-size: 32px;
}
@media (max-width: 768px){
	.containerParceiros--title{
		text-align: center;
	}
}
.containerParceiros__block{
	width: 80vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
@media (max-width: 768px){
	.containerParceiros__block{
		width: 100vw;
	}
}
.containerPareiros__block--image{
	width: 172px;
}
@media (max-width: 690px){
	.containerPareiros__block--image{
		width: 90px;
	}
}
.containerPareiros__block--imageFm{
	width: 155px;
}
@media (max-width: 690px){
	.containerPareiros__block--imageFm{
		width: 90px;
	}
}
.containerPareiros__block--imageEdu{
	width: 223px;
}
@media (max-width: 690px){
	.containerPareiros__block--imageEdu{
		width: 100px;
		
	}	
}